body {
    background: black;
    margin: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    width: 600px;
    height: 600px;
    margin: auto;
}

div .dark_square {
    background: #B58863;
}
div .light_square {
    background: #F0D9B5;
}

img {
    width: 100%;
    height: 100%;
    padding: 0px;
    cursor: pointer;
}